.noMarginLeft {
  margin-left: 0;
}

.resetButton {
  margin-top: var(--gutter-static-two-thirds);
  margin-bottom: var(--gutter-static-two-thirds);
}

.totalCountWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
